body{
    background-color: #ffb742;
    margin: 0;
    color: blue;
    text-align: center;
}

h1, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game-header{
    background-color: aqua;
    border-radius: 1rem;
    padding: 1rem;
}

.player-card,
.turn-panel{
    background-color: azure;
    border: 2px dashed greenyellow;
    border-radius: 0.9rem;
    padding: 1rem;
}

.turn-panel{
    background-color: rgb(196, 226, 226);
}

.status-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

button {
    border-radius: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: dodgerblue;
    padding: 0.75rem;
    border: 3px dashed yellowgreen;
    font-size: 1rem;
    font-weight: bold;
}

button:hover{
    background-color: rgb(77, 145, 218);
}

button:active{
    background-color: rgb(48, 106, 163);
}

.dice {
    display: grid;
    place-items: center;
    width: 4rem;
    height: 3rem;
    margin: 0.8rem auto;
    border: 4px dotted blanchedalmond;
    border-radius: 8px;
    background-color: aliceblue;
    font-size: 2.2rem;
    font-weight: bold;
}

.player-image {
    width: 100px;
    height: 150px;
}

[data-category="maantieto"] {background-color: #205ea5;}
[data-category="yleistieto"] {background-color: #d70d7c;}
[data-category="historia"] {background-color: #e91908;}
[data-category="kulttuuri"] {background-color: #753ca9;}
[data-category="tiede"] {background-color: #03923c;}
[data-category="urheilu"] {background-color: #eb700a;}